*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
}
.login-page{
    width: 100%;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-vector/blooming-roses-banner_53876-89188.jpg");
    background-size: 100% 100%;
    
}

.login-page .login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    border: 1px solid white;
    border-radius: 40px;
    padding: 40px;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-color: rgba(red, green, blue, 0.5);
}
.login-page .login-form input, .login-page .login-form label{
    display: block;
    width: 100%;
    
}  
.login-page .login-form input{
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    color: aliceblue;
}
.login-page .login-form label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.login-page .login-form .login-title{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}
.login-page .login-form .controlemail,
 .login-page .login-form .controlpassword{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.login-page .login-form .controlemail label,
 .login-page .login-form .controlpassword label{
    color: white;
    padding-bottom: 3px;
}




.login-page .login-form .forgetlink{
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.login-page .login-form .forgetlink a{
    color: white;
    text-decoration: none;
}
.login-page .login-form .sign-in-button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}
.login-page .login-form .sign-in-button:hover{
    background-color: #141c7f;

}

.login-page .login-form .orcontinue{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-page .login-form .icone{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.login-page .login-form .icone a{
   background: white;
   padding: 8px;
   text-align: center;
    border-radius: 10px;
   
}
.login-page .login-form .icone a img{
  height: 30px;
  width: 30px;

}
.login-page .login-form .account{
    margin-top: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.login-page .login-form .account a{
    color: white;
    text-decoration: none;
    font-family: bold;
    color: aqua;
}
.login-page .login-form .account a:hover{
    text-decoration: underline;
    color: rgb(64, 24, 128);
}
